<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='reservation'">
<head>
<title>[[#{reservation.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="reservationEdit" class="card mt-5">
			<form th:action="@{/reservation/save}" method="post">
				<input type="hidden" name="version" th:value="${maReservation.version}" />
				<div class="card-header">
					<h5>[[#{reservation.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{reservation.form.identifiant}]]:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${maReservation.id}" readonly> <span
							class="text-danger" th:errors="${maReservation.id}"></span>
					</div>
					<div class="form-group">
						<label for="numero">[[#{reservation.form.numero}]]:</label> <input type="text"
							class="form-control" id="numero" name="numero" 
							th:value="${maReservation.numero}" > <span
							class="text-danger" th:errors="${maReservation.numero}"></span>
					</div>
						<div class="form-group">
						<label for="statut">[[#{reservation.form.statut}]]:</label><select
							class="form-control" id="statut" name="statut" th:value="${maReservation.statut}">
							<option th:value="${null}">---------</option>
							<option th:value="true">Ouvert</option>
							<option th:value="false">Fermé</option>
							</select> <span class="text-danger" th:errors="${maReservation.statut}"></span>
					</div>
					<div class="form-group">
						<label for="tarif">[[#{reservation.form.tarif}]]:</label> <input type="text"
							class="form-control" id="tarif" name="tarif" 
							th:value="${maReservation.tarif}" > <span
							class="text-danger" th:errors="${maReservation.tarif}"></span>
					</div>
					<div class="form-group">
						<label for="tauxTVA">[[#{reservation.form.tauxTVA}]]:</label> <input type="text"
							class="form-control" id="tauxTVA" name="tauxTVA" 
							th:value="${maReservation.tauxTVA}" > <span
							class="text-danger" th:errors="${maReservation.tauxTVA}"></span>
					</div>
					<div class="form-group">
						<label for="dateReservation">[[#{reservation.form.dtReservation}]]:</label> <input type="date"
							class="form-control" id="dateReservation" name="dateReservation" 
							th:value="${maReservation.dateReservation}" > <span
							class="text-danger" th:errors="${maReservation.dateReservation}"></span>
					</div>
					<div class="form-group">
						<label for=passager>[[#{reservation.form.passager}]]:</label>
						<select class="form-control" id="passager.id" name="passager.id" th:value="${maReservation.passager?.id}">
						<option th:each="passager : ${mesPassagers}" th:value="${passager.id}" th:selected="${passager.id==maReservation.passager?.id}">[[${passager.nom}]] [[${passager.prenom}]]</option>
						</select> 
						<span class="text-danger" th:errors="${maReservation.passager.id}"></span>
					</div>
					<div class="form-group">
						<label for=client>[[#{reservation.form.client}]]:</label>
						<select class="form-control" id="client.id" name="client.id" th:value="${maReservation.client?.id}">
						<option th:each="client : ${mesClients}" th:value="${client.id}" th:selected="${client.id==maReservation.client?.id}">[[${client.nom}]] [[${client.prenom}]]</option>
						</select> 
						<!-- <span class="text-danger" th:errors="${maReservation.client.id}"></span> -->
					</div>
					<div class="form-group">
						<label for=voyage>[[#{reservation.form.voyage}]]:</label>
						<select class="form-control" id="voyage.id" name="voyage.id" th:value="${maReservation.voyage?.id}">
						<option th:each="voyage : ${mesVoyages}" th:value="${voyage.id}" th:selected="${voyage.id==maReservation.voyage?.id}">[[${voyage.id}]]</option>
						</select> 
						<span class="text-danger" th:errors="${maReservation.voyage.id}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/reservation/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>