<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='vol'">
<head>
<title>[[#{vol.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="volEdit" class="card mt-5">
			<form th:action="@{/vol/save}" method="post">
				<input type="hidden" name="version" th:value="${monVol.version}" />
				<div class="card-header">
					<h5>[[#{vol.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{vol.form.id}]]:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${monVol.id}" readonly> <span
							class="text-danger" th:errors="${monVol.id}"></span>
					</div>
					<div class="form-group">
						<label for="numero">[[#{vol.form.numero}]]:</label> <input
							type="text" class="form-control" id="numero" name="numero"
							th:value="${monVol.numero}"> <span class="text-danger"
							th:errors="${monVol.numero}"></span>
					</div>
					<div class="form-group">
						<label for="dateDepart">[[#{vol.form.dateDepart}]]:</label> <input
							type="date" class="form-control" id="dateDepart"
							name="dateDepart" th:value="${monVol.dateDepart}"> <span
							class="text-danger" th:errors="${monVol.dateDepart}"></span>
					</div>
					<div class="form-group">
						<label for="dateArrivee">[[#{vol.form.dateArrivee}]]:</label> <input
							type="date" class="form-control" id="dateArrivee"
							name="dateArrivee" th:value="${monVol.dateArrivee}"> <span
							class="text-danger" th:errors="${monVol.dateArrivee}"></span>
					</div>
					<div class="form-group">
						<label for="ouvert">[[#{vol.form.ouvert}]]:</label> <select
							class="form-control" id="ouvert" name="ouvert"
							th:value="${monVol.ouvert}">
							<option th:value="true">Ouvert</option>
							<option th:value="false">Fermé</option>
						</select> <span class="text-danger" th:errors="${monVol.ouvert}"></span>
					</div>
					<div class="form-group">
						<label for="nbPlaces">[[#{vol.form.nbPlaces}]]:</label> <input
							type="text" class="form-control" id="nbPlaces" name="nbPlaces"
							th:value="${monVol.nbPlaces}"> <span class="text-danger"
							th:errors="${monVol.nbPlaces}"></span>
					</div>


				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/vol/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>