<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='vol'">
<head>
<title>[[#{vol.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{vol.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="volTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{vol.list.numero}]]</th>
							<th>[[#{vol.list.dateDepart}]]</th>
							<th>[[#{vol.list.dateArrivee}]]</th>
							<th>[[#{vol.list.compagnie}]]</th>
							<th>[[#{vol.list.ouvert}]]</th>
							<th>[[#{vol.list.nbPlaces}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="vol : ${mesVols}">
							<td th:text="${vol.id}"></td>
							<td>[[${vol.numero}]]</td>
							<td>[[${vol.dateDepart}]]</td>
							<td>[[${vol.dateArrivee}]]</td>
							<td>[[${vol.compagnie}]]</td>
							<td>[[${vol.ouvert}]]</td>
							<td>[[${vol.nbPlaces}]]</td>
							
							<td><a th:href="@{/vol/edit(id=${vol.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/vol/delete/{id}(id=${vol.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/vol/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>