<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='passager'">
<head>
<title>[[#{passager.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="passagerEdit" class="card mt-5">
			<form th:action="@{/passager/save}" method="post">
				<input type="hidden" name="version" th:value="${monPassager.version}" />
				<div class="card-header">
					<h5>[[#{passager.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{passager.form.id}]]:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${monPassager.id}" readonly> <span
							class="text-danger" th:errors="${monPassager.id}"></span>
					</div>
					<div class="form-group">
						<label for="civilite">[[#{passager.form.civilite}]]:</label><select
							class="form-control" id="civilite" name="civilite" th:value="${monPassager.civilite}">
							<option th:value="${null}">---------</option>
							<option th:each="civ : ${civilites}" th:value="${civ}"
								th:selected="${civ==monPassager.civilite}">[[#{${civ.label}}]]</option>
						</select> <span class="text-danger" th:errors="${monPassager.civilite}"></span>
					</div>
					<div class="form-group">
						<label for="nom">[[#{passager.form.nom}]]:</label> <input type="text"
							class="form-control" id="nom" name="nom"
							th:value="${monPassager.nom}"> <span class="text-danger"
							th:errors="${monPassager.nom}"></span>
					</div>
					<div class="form-group">
						<label for="prenom">[[#{passager.form.prenom}]]:</label> <input type="text"
							class="form-control" id="prenom" name="prenom"
							th:value="${monPassager.prenom}"> <span class="text-danger"
							th:errors="${monPassager.prenom}"></span>
					</div>
					<div class="form-group">
						<label for="dtNaissance">[[#{passager.form.dtNaissance}]]:</label> <input type="date"
							class="form-control" id="dtNaissance" name="dtNaissance"
							th:value="${monPassager.dtNaissance}" > <span
							class="text-danger" th:errors="${monPassager.dtNaissance}"></span>
					</div>
					<div class="form-group">
						<label for="nationalite">[[#{passager.form.nationalite}]]:</label> <input type="text"
							class="form-control" id="nationalite" name="nationalite"
							th:value="${monPassager.nationalite}"> <span
							class="text-danger" th:errors="${monPassager.nationalite}"></span>
					</div>
					<div class="form-group">
						<label for="telephone">[[#{passager.form.telephone}]]:</label> <input type="text"
							class="form-control" id="telephone" name="telephone"
							th:value="${monPassager.telephone}"> <span
							class="text-danger" th:errors="${monPassager.telephone}"></span>
					</div>
					<div class="form-group">
						<label for="mail">[[#{passager.form.mail}]]:</label> <input type="text"
							class="form-control" id="mail" name="mail"
							th:value="${monPassager.mail}"> <span
							class="text-danger" th:errors="${monPassager.mail}"></span>
					</div>
					<div class="form-group">
						<label for="typePI">[[#{passager.form.typePI}]]:</label><select
							class="form-control" id="typePI" name="typePI" th:value="${monPassager.typePI}">
							<option th:value="${null}">---------</option>
							<option th:each="pi : ${typePieceIdentite}" th:value="${pi}"
								th:selected="${pi==monPassager.typePI}">[[#{${pi.label}}]]</option>
						</select> <span class="text-danger" th:errors="${monPassager.typePI}"></span>
					</div>
					<div class="form-group">
						<label for="numIdentite">[[#{passager.form.numIdentite}]]:</label> <input type="text"
							class="form-control" id="numIdentite" name="numIdentite"
							th:value="${monPassager.numIdentite}"> <span
							class="text-danger" th:errors="${monPassager.numIdentite}"></span>
					</div>
					<div class="form-group">
						<label for="dateValiditePI">[[#{passager.form.dateValiditePI}]]:</label> <input type="date"
							class="form-control" id="dateValiditePI" name="dateValiditePI"
							th:value="${monPassager.dateValiditePI}"> <span
							class="text-danger" th:errors="${monPassager.dateValiditePI}"></span>
					</div>
					<div class="form-group">
						<label for="voie">[[#{passager.form.voie}]]:</label> <input type="text"
							class="form-control" id="principale.voie" name="principale.voie"
							th:value="${monPassager.principale?.voie}"> <span
							class="text-danger" th:errors="${monPassager.principale.voie}"></span>
					</div>
					<div class="form-group">
						<label for="complement">[[#{passager.form.complement}]]:</label> <input type="text"
							class="form-control" id="principale.complement" name="principale.complement"
							th:value="${monPassager.principale.complement}"> <span
							class="text-danger" th:errors="${monPassager.principale.complement}"></span>
					</div>
					<div class="form-group">
						<label for="codePostal">[[#{passager.form.codePostal}]]:</label> <input type="text"
							class="form-control" id="principale.codePostal" name="principale.codePostal"
							th:value="${monPassager.principale.codePostal}"> <span
							class="text-danger" th:errors="${monPassager.principale.codePostal}"></span>
					</div>
					<div class="form-group">
						<label for="ville">[[#{passager.form.ville}]]:</label> <input type="text"
							class="form-control" id="principale.ville" name="principale.ville"
							th:value="${monPassager.principale.ville}"> <span
							class="text-danger" th:errors="${monPassager.principale.ville}"></span>
					</div>
					<div class="form-group">
						<label for="pays">[[#{passager.form.pays}]]:</label> <input type="text"
							class="form-control" id="principale.pays" name="principale.pays"
							th:value="${monPassager.principale.pays}"> <span
							class="text-danger" th:errors="${monPassager.principale.pays}"></span>
					</div>
					
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/passager/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>