<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='passager'">
<head>
<title>[[#{passager.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{passager.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="passagerTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{passager.list.civilite}]]</th>
							<th>[[#{passager.list.nom}]]</th>
							<th>[[#{passager.list.prenom}]]</th>
							<th>[[#{passager.list.dtNaissance}]]</th>
							<th>[[#{passager.list.nationalite}]]</th>
							<th>[[#{passager.list.telephone}]]</th>
							<th>[[#{passager.list.mail}]]</th>
							<th>[[#{passager.list.typePI}]]</th>
							<th>[[#{passager.list.numIdentite}]]</th>
							<th>[[#{passager.list.dateValiditePI}]]</th>
							<th>[[#{passager.list.voie}]]</th>
							<th>[[#{passager.list.complement}]]</th>
							<th>[[#{passager.list.codePostal}]]</th>
							<th>[[#{passager.list.ville}]]</th>
							<th>[[#{passager.list.pays}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="passager : ${mesPassagers}">
							<td th:text="${passager.id}"></td>
							<td><span th:if="${passager.civilite!=null}">[[#{${passager.civilite?.label}}]]</span></td>
							<td>[[${passager.nom}]]</td>
							<td>[[${passager.prenom}]]</td>
							<td>[[${#dates.format(passager.dtNaissance, 'dd/MM/yyyy')}]]</td>
							<td>[[${passager.nationalite}]]</td>
							<td>[[${passager.telephone}]]</td>
							<td>[[${passager.mail}]]</td>
							<td><span th:if="${passager.typePI!=null}">[[#{${passager.typePI?.label}}]]</span></td>
							<td>[[${passager.numIdentite}]]</td>
							<td>[[${#dates.format(passager.dateValiditePI, 'dd/MM/yyyy')}]]</td>
							<td>[[${passager.principale?.voie}]]</td>
							<td>[[${passager.principale?.complement}]]</td>
							<td>[[${passager.principale?.codePostal}]]</td>
							<td>[[${passager.principale?.ville}]]</td>
							<td>[[${passager.principale?.pays}]]</td>
							<td><a th:href="@{/passager/edit(id=${passager.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/passager/delete/{id}(id=${passager.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/passager/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>