<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html"
	th:with="page='aeroport'">
<head>
<title>[[#{aeroport.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{aeroport.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="aeroportTab" class="table table-striped">
					<thead>
						<tr>
							<th>[[#{aeroport.list.code}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aeroport : ${mesAeroports}">
							<td th:text="${aeroport.code}"></td>
							<td><a th:href="@{/aeroport/edit(code=${aeroport.code})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/aeroport/delete/{code}(code=${aeroport.code})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/aeroport/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>