<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientParticulier'">
<head>
<title>[[#{clientParticulier.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="clientParticulierEdit" class="card mt-5">
			<form th:action="@{/clientParticulier/save}" method="post">
				<input type="hidden" name="version"
					th:value="${monClientParticulier.version}" />
				<div class="card-header">
					<h5>[[#{clientParticulier.form.title}]]</h5>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="civilite">[[#{clientParticulier.form.civilite}]]
							:</label><select class="form-control" id="civilite" name="civilite"
							th:value="${monClientParticulier.civilite}">
							<option th:value="${null}">---------</option>
							<option th:each="civ : ${civilites}" th:value="${civ}"
								th:selected="${civ==monClientParticulier.civilite}">[[#{${civ.label}}]]</option>
						</select> <span class="text-danger"
							th:errors="${monClientParticulier.civilite}"></span>
					</div>
					<div class="form-group">
						<label for="nom">[[#{clientParticulier.form.nom}]]:</label> <input
							type="text" class="form-control" id="nom" name="nom"
							th:value="${monClientParticulier.nom}"> <span
							class="text-danger" th:errors="${monClientParticulier.nom}"></span>
					</div>
					<div class="form-group">
						<label for="prenom">[[#{clientParticulier.form.prenom}]]:</label>
						<input type="text" class="form-control" id="prenom" name="prenom"
							th:value="${monClientParticulier.prenom}"> <span
							class="text-danger" th:errors="${monClientParticulier.prenom}"></span>
					</div>
					<div class="form-group">
						<label for="mail">[[#{clientParticulier.form.mail}]]:</label> <input
							type="text" class="form-control" id="mail" name="mail"
							th:value="${monClientParticulier.mail}"> <span
							class="text-danger" th:errors="${monClientParticulier.mail}"></span>
					</div>
					<div class="form-group">
						<label for="telephone">[[#{clientParticulier.form.telephone}]]:</label>
						<input type="text" class="form-control" id="telephone"
							name="telephone" th:value="${monClientParticulier.telephone}">
						<span class="text-danger"
							th:errors="${monClientParticulier.telephone}"></span>
					</div>
					<div class="form-group">
						<label for="moyenPaiement">[[#{clientParticulier.form.moyenPaiement}]]
							:</label><select class="form-control" id="moyenPaiement"
							name="moyenPaiement"
							th:value="${monClientParticulier.moyenPaiement}">
							<option th:value="${null}">---------</option>
							<option th:each="paie : ${moyenPaiements}" th:value="${paie}"
								th:selected="${paie==monClientParticulier.moyenPaiement}">[[#{${paie}}]]</option>
						</select> <span class="text-danger"
							th:errors="${monClientParticulier.moyenPaiement}"></span>
					</div>
					<div class="form-group">
						<label for="voie">[[#{clientParticulier.form.voie}]]:</label> <input type="text"
							class="form-control" id="principale.voie" name="principale.voie"
							th:value="${monClientParticulier.principale?.voie}"> <span
							class="text-danger" th:errors="${monClientParticulier.principale.voie}"></span>
					</div>
					<div class="form-group">
						<label for="complement">[[#{clientParticulier.form.complement}]]:</label> <input type="text"
							class="form-control" id="principale.complement" name="principale.complement"
							th:value="${monClientParticulier.principale.complement}"> <span
							class="text-danger" th:errors="${monClientParticulier.principale.complement}"></span>
					</div>
					<div class="form-group">
						<label for="codePostal">[[#{clientParticulier.form.codePostal}]]:</label> <input type="text"
							class="form-control" id="principale.codePostal" name="principale.codePostal"
							th:value="${monClientParticulier.principale.codePostal}"> <span
							class="text-danger" th:errors="${monClientParticulier.principale.codePostal}"></span>
					</div>
					<div class="form-group">
						<label for="ville">[[#{clientParticulier.form.ville}]]:</label> <input type="text"
							class="form-control" id="principale.ville" name="principale.ville"
							th:value="${monClientParticulier.principale.ville}"> <span
							class="text-danger" th:errors="${monClientParticulier.principale.ville}"></span>
					</div>
					<div class="form-group">
						<label for="pays">[[#{clientParticulier.form.pays}]]:</label> <input type="text"
							class="form-control" id="principale.pays" name="principale.pays"
							th:value="${monClientParticulier.principale.pays}"> <span
							class="text-danger" th:errors="${monClientParticulier.principale.pays}"></span>
					</div>
					
					
					
					
									<div class="form-group">
						<label for="voie">[[#{clientParticulier.form.voie}]]:</label> <input type="text"
							class="form-control" id="facturation.voie" name="principale.voie"
							th:value="${monClientParticulier.facturation?.voie}"> <span
							class="text-danger" th:errors="${monClientParticulier.facturation.voie}"></span>
					</div>
					<div class="form-group">
						<label for="complement">[[#{clientParticulier.form.complement}]]:</label> <input type="text"
							class="form-control" id="facturation.complement" name="principale.complement"
							th:value="${monClientParticulier.facturation.complement}"> <span
							class="text-danger" th:errors="${monClientParticulier.facturation.complement}"></span>
					</div>
					<div class="form-group">
						<label for="codePostal">[[#{clientParticulier.form.codePostal}]]:</label> <input type="text"
							class="form-control" id="facturation.codePostal" name="facturation.codePostal"
							th:value="${monClientParticulier.facturation.codePostal}"> <span
							class="text-danger" th:errors="${monClientParticulier.facturation.codePostal}"></span>
					</div>
					<div class="form-group">
						<label for="ville">[[#{clientParticulier.form.ville}]]:</label> <input type="text"
							class="form-control" id="facturation.ville" name="principale.ville"
							th:value="${monClientParticulier.facturation.ville}"> <span
							class="text-danger" th:errors="${monClientParticulier.facturation.ville}"></span>
					</div>
					<div class="form-group">
						<label for="pays">[[#{clientParticulier.form.pays}]]:</label> <input type="text"
							class="form-control" id="facturation.pays" name="principale.pays"
							th:value="${monClientParticulier.facturation.pays}"> <span
							class="text-danger" th:errors="${monClientParticulier.facturation.pays}"></span>
					</div>
					<div class="card-footer text-right">
						<div class="btn-group ">
							<button type="submit" class="btn btn-success">
								<i class="far fa-check-square fa-2x"></i>
							</button>
							<a th:href="@{/clientParticulier/cancel}"
								class="btn btn-warning text-white"> <i
								class="far fa-window-close fa-2x"></i>
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>