<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientParticulier'">
<head>
<title>[[#{clientParticulier.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{clientParticulier.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="clientParticulierTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{clientParticulier.list.civilite}]]</th>
							<th>[[#{clientParticulier.list.nom}]]</th>
							<th>[[#{clientParticulier.list.prenom}]]</th>
							<th>[[#{clientParticulier.list.mail}]]</th>
							<th>[[#{clientParticulier.list.telephone}]]</th>
							<th>[[#{clientParticulier.list.moyenPaiement}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="clientParticulier : ${mesClientsParticuliers}">
							<td th:text="${clientParticulier.id}"></td>
							<td>[[${clientParticulier.civilite?.label}]]</td>
							<td>[[${clientParticulier.nom}]]</td>
							<td>[[${clientParticulier.prenom}]]</td>
							<td>[[${clientParticulier.mail}]]</td>
							<td>[[${clientParticulier.telephone}]]</td>
							<td>[[${clientParticulier.moyenPaiement}]]</td>
							<td><a
								th:href="@{/clientParticulier/edit(id=${clientParticulier.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a
								th:href="@{/clientParticulier/delete/{id}(id=${clientParticulier.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/clientParticulier/add}" class="btn btn-primary">
					<i class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>