<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='compagnie'">
<head>
<title>[[#{compagnie.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="compagnieEdit" class="card mt-5">
			<form th:action="@{/compagnie/save}" method="post">
				<input type="hidden" name="version" th:value="${maCompagnie.version}" />
				<div class="card-header">
					<h5>[[#{compagnie.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{compagnie.form.identifiant}]]:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${maCompagnie.id}" readonly> <span
							class="text-danger" th:errors="${maCompagnie.id}"></span>
					</div>
					<div class="form-group">
						<label for="nomCompagnie">[[#{compagnie.form.nom}]]:</label> <input type="text"
							class="form-control" id="nomCompagnie" name="nomCompagnie" 
							th:value="${maCompagnie.nomCompagnie}" > <span
							class="text-danger" th:errors="${maCompagnie.nomCompagnie}"></span>
					</div>
				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/compagnie/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>