<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT">[[#{layout.title}]]</title>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<header> </header>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link"
				th:classappend="${page=='home'} ? active" th:href="@{/}">[[#{layout.accueil}]]</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${page=='vol'} ? active" th:href="@{/vol/list}">[[#{layout.vol}]]</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${page=='aeroport'} ? active"
				th:href="@{/aeroport/list}">[[#{layout.aeroport}]]</a></li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${page=='ville'} ? active" th:href="@{/ville/list}">[[#{layout.ville}]]</a></li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${page=='compagnie'} ? active"
				th:href="@{/compagnie/list}">[[#{layout.compagnie}]]</a></li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${page=='voyage'} ? active"
				th:href="@{/voyage/list}">[[#{layout.voyage}]]</a></li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${page=='reservation'} ? active"
				th:href="@{/reservation/list}">[[#{layout.reservation}]]</a></li>
			<li class="nav-item"><a class="nav-link"
				th:classappend="${page=='passager'} ? active"
				th:href="@{/passager/list}">[[#{layout.passager}]]</a></li>

			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="dropdown09"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[#{layout.client}]]</a>
				<div class="dropdown-menu" aria-labelledby="dropdown09">
					<a class="dropdown-item" th:href="@{/clientParticulier/list}">Client Particulier</a> 
					<a class="dropdown-item" th:href="@{/clientPro/list}">Client Professionnel</a>
				</div></li>
		</ul>


		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href=".?lang=en"><img
					src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg"
					style="width: 24px; height: 16px" /></a></li>
			<li class="nav-item"><a class="nav-link" href=".?lang=fr"><img
					src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg"
					style="width: 24px; height: 16px" /></a></li>
		</ul>

	</nav>

	<section layout:fragment="custom-content"></section>
</body>
</html>