<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='voyageVol'">
<head>
<title>[[#{voyageVol.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{voyageVol.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="voyageVolTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{voyageVol.list.ordre}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="voyageVol : ${mesVoyagesVol}">
							<td th:text="${voyageVol.id}"></td>
							<td>[[${voyageVol.ordre}]]</td>
							<td><a th:href="@{/voyageVol/edit(id=${voyageVol.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a
								th:href="@{/voyageVol/delete/{id}(id=${voyageVol.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/voyageVol/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>