<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientPro'">
<head>
<title>[[#{clientPro.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="clientProEdit" class="card mt-5">
			<form th:action="@{/clientPro/save}" method="post">
				<input type="hidden" name="version"
					th:value="${monClientPro.version}" />
				<div class="card-header">
					<h5>[[#{clientPro.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="numeroSiret">[[#{clientPro.form.numeroSiret}]]</label>
						<input type="text" class="form-control" id="numeroSiret"
							name="numeroSiret" required
							th:value="${monClientPro.numeroSiret}"> <span
							class="text-danger" th:errors="${monClientPro.numeroSiret}"></span>
					</div>
					<div class="form-group">
						<label for="nomEntreprise">[[#{clientPro.form.nomEntreprise}]]</label>
						<input type="text" class="form-control" id="nomEntreprise"
							name="nomEntreprise" required
							th:value="${monClientPro.nomEntreprise}"> <span
							class="text-danger" th:errors="${monClientPro.nomEntreprise}"></span>
					</div>
					<div class="form-group">
						<label for="numTVA">[[#{clientPro.form.numTVA}]]:</label> <input
							type="text" class="form-control" id="numTVA" name="numTVA"
							th:value="${monClientPro.numTVA}"> <span
							class="text-danger" th:errors="${monClientPro.numTVA}"></span>
					</div>
					<div class="form-group">
						<label for="typeEntreprise">[[#{clientPro.form.typeEntreprise}]]
							:</label><select class="form-control" id="typeEntreprise"
							name="typeEntreprise" th:value="${monClientPro.typeEntreprise}">
							<option th:value="${null}">---------</option>
							<option th:each="type : ${typeEntreprises}" th:value="${type}"
								th:selected="${type==monClientPro.typeEntreprise}">[[#{${type}}]]</option>
						</select> <span class="text-danger"
							th:errors="${monClientPro.typeEntreprise}"></span>
					</div>
					<div class="form-group">
						<label for="voie">[[#{clientPro.form.voie}]]:</label> <input type="text"
							class="form-control" id="principale.voie" name="principale.voie"
							th:value="${monClientPro.principale?.voie}"> <span
							class="text-danger" th:errors="${monClientPro.principale.voie}"></span>
					</div>
					<div class="form-group">
						<label for="complement">[[#{clientPro.form.complement}]]:</label> <input type="text"
							class="form-control" id="principale.complement" name="principale.complement"
							th:value="${monClientPro.principale.complement}"> <span
							class="text-danger" th:errors="${monClientPro.principale.complement}"></span>
					</div>
					<div class="form-group">
						<label for="codePostal">[[#{clientPro.form.codePostal}]]:</label> <input type="text"
							class="form-control" id="principale.codePostal" name="principale.codePostal"
							th:value="${monClientPro.principale.codePostal}"> <span
							class="text-danger" th:errors="${monClientPro.principale.codePostal}"></span>
					</div>
					<div class="form-group">
						<label for="ville">[[#{clientPro.form.ville}]]:</label> <input type="text"
							class="form-control" id="principale.ville" name="principale.ville"
							th:value="${monClientPro.principale.ville}"> <span
							class="text-danger" th:errors="${monClientPro.principale.ville}"></span>
					</div>
					<div class="form-group">
						<label for="pays">[[#{clientPro.form.pays}]]:</label> <input type="text"
							class="form-control" id="principale.pays" name="principale.pays"
							th:value="${monClientPro.principale.pays}"> <span
							class="text-danger" th:errors="${monClientPro.principale.pays}"></span>
					</div>
					
					
					
					
									<div class="form-group">
						<label for="voie">[[#{clientPro.form.voie}]]:</label> <input type="text"
							class="form-control" id="facturation.voie" name="principale.voie"
							th:value="${monClientPro.facturation?.voie}"> <span
							class="text-danger" th:errors="${monClientPro.facturation.voie}"></span>
					</div>
					<div class="form-group">
						<label for="complement">[[#{clientPro.form.complement}]]:</label> <input type="text"
							class="form-control" id="facturation.complement" name="principale.complement"
							th:value="${monClientPro.facturation.complement}"> <span
							class="text-danger" th:errors="${monClientPro.facturation.complement}"></span>
					</div>
					<div class="form-group">
						<label for="codePostal">[[#{clientPro.form.codePostal}]]:</label> <input type="text"
							class="form-control" id="facturation.codePostal" name="facturation.codePostal"
							th:value="${monClientPro.facturation.codePostal}"> <span
							class="text-danger" th:errors="${monClientPro.facturation.codePostal}"></span>
					</div>
					<div class="form-group">
						<label for="ville">[[#{clientPro.form.ville}]]:</label> <input type="text"
							class="form-control" id="facturation.ville" name="principale.ville"
							th:value="${monClientPro.facturation.ville}"> <span
							class="text-danger" th:errors="${monClientPro.facturation.ville}"></span>
					</div>
					<div class="form-group">
						<label for="pays">[[#{clientPro.form.pays}]]:</label> <input type="text"
							class="form-control" id="facturation.pays" name="principale.pays"
							th:value="${monClientPro.facturation.pays}"> <span
							class="text-danger" th:errors="${monClientPro.facturation.pays}"></span>
					</div>
					<div class="card-footer text-right">
						<div class="btn-group ">
							<button type="submit" class="btn btn-success">
								<i class="far fa-check-square fa-2x"></i>
							</button>
							<a th:href="@{/clientPro/cancel}"
								class="btn btn-warning text-white"> <i
								class="far fa-window-close fa-2x"></i>
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>