<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='clientPro'">
<head>
<title>[[#{clientPro.list.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h2 th:text="#{clientPro.list.title}"></h2>
			</div>
			<div class="card-body table-wrap">
				<table id="clientProTab" class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>[[#{clientPro.list.numeroSiret}]]</th>
							<th>[[#{clientPro.list.nomEntreprise}]]</th>
							<th>[[#{clientPro.list.numTVA}]]</th>
							<th>[[#{clientPro.list.typeEntreprise}]]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="clientPro : ${mesClientPros}">
							<td th:text="${clientPro.id}"></td>
							<td>[[${clientPro.numeroSiret}]]</td>
							<td>[[${clientPro.nomEntreprise}]]</td>
							<td>[[${clientPro.numTVA}]]</td>
							<td>[[${clientPro.typeEntreprise}]]</td>
							<td><a th:href="@{/clientPro/edit(id=${clientPro.id})}"
								class="btn btn-sm btn-primary"> <i class="fas fa-edit"></i>
							</a>&nbsp;<a th:href="@{/clientPro/delete/{id}(id=${clientPro.id})}"
								class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<a th:href="@{/clientPro/add}" class="btn btn-primary"> <i
					class="fas fa-plus-square fa-2x"></i>
				</a>
			</div>
		</div>
	</section>
</body>
</html>